.details-container {
    -fx-alignment: center;
    -fx-background-color: #fce3b6;
}

.image-rating-panel {
    -fx-alignment: center;
}

.rating-label {
    -fx-padding: 12 0 0 0;
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

.rental-button-field {
    -fx-pref-width: 584;
    -fx-pref-height: 39;
    -fx-padding: 30 0 0 0;
    -fx-spacing: 50;
    -fx-alignment: center;
}

.rental-button {
    -fx-font-size: 14;
    -fx-alignment: center;
}

.rating-field {
    -fx-alignment: center;
    -fx-padding: 10 10 10 40;
}

.rating-panel {
}

.star {
    -fx-fill: #afafaf;
}

.star-active {
    -fx-fill: gold;
}

.remove-icon {
    -fx-padding: 0 0 0 10;
    -fx-cursor: hand;
    -fx-alignment: center;
}