.scrollable-panel-container {
}

.scrollable-panel-background {
    -fx-fit-to-width: 800;
    -fx-fit-to-height: 540;
    -fx-opacity: 0.45;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.book-list {
    -fx-alignment: top-center;
    -fx-padding: 30;
    -fx-spacing: 20;
    -fx-background-color: transparent;
}

.book-list-row {
    -fx-spacing: 30;
    -fx-alignment: center;
}

.rounded-button {
    -fx-background-color: #ccb491;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0, 5, 5);
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-background-radius: 15;
    -fx-border-color: transparent;
    -fx-padding: 10px;
    -fx-alignment: center;
}

.rounded-button:hover {
    -fx-background-color: #edc993;
    -fx-cursor: hand;
}

.book-title {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.book-author {
}